<div data-view="MainView" data-context="MainViewModel" class="container">
    <h2 data-bind="{textContent: 'Title'}"></h2>
    <input type="text" placeholder="search..." class="style-2 clearfix focus" id="search" data-bind="{value: 'SearchInput'}">
    <br/>
    <ul id="services-list" data-repeat="Items">
        <li data-context="MainViewModel" data-actions="{click: {command: 'NavigateToItemCommand', parameter: context}}">
            <a class="image" >
                <img data-bind="{src: 'ImageUrl'}"/>
            </a>
            <div class="content">
                <h3 data-bind="{textContent: 'Title'}"></h3>
                <h4 data-bind="{textContent: 'Description'}"></h4>
            </div>
        </li>
    </ul>
</div>